
<div class="row">
  <div class="col-md-4">
    <p>Jobs</p>
    <ul>
      <li> Create a job.</li>

    </ul>
  </div>
  <div class="col-md-8">
    <%= render partial: 'form', locals: { job: @job } %>

    <%= link_to 'Back', welcomes_path %>
  </div>
</div>
